body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8eada8;
    color: #333;
}

header {
    background-color: #2e49c5;
    color: rgb(245, 243, 243);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004080;
    color: white;
}

form {
    background-color: #e6f0ff;
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0066cc;
}
