{% extends "base.html" %}

{% block content %}
<section>
    <h2>Menú de Productos</h2>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio ($)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ "%.2f"|format(item.precio) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}